---
import { SITE_DESCRIPTION, TITLE } from "../config";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title={`404 Not Found | ${TITLE}`}
  description={SITE_DESCRIPTION}
>
  <div class="flex items-center justify-center flex-col py-16">
    <h1 class="py-8 text-3xl font-black">404 Not Found</h1>
    <p>
      La página que buscas no existe. Por favor verifique la URL e intente
      de nuevo.
    </p>
    <div class="py-8 underline"><a href="/">Volver</a></div>
  </div>
</MainLayout>
