---
import { TITLE } from "../config";
import Socials from "./Socials.astro";
---

<footer class="border-t border-zinc-800 mt-16 font-light">
  <div class="py-4">
    <div class="flex max-w-5xl px-3 md:px-6 mx-auto">
      <div class="flex items-center justify-between w-full">
        <a href="/">
          <h1 class="bg-gradient-to-r from-cyan-400 via-sky-300 to-sky-600 inline-block text-transparent bg-clip-text text-2xl font-black">
            {TITLE}
          </h1>
        </a>
        <Socials />
      </div>
    </div>
  </div>
</footer>
