<header class="flex justify-between items-center py-12 w-[620px]">
  <nav>
    <a class="text-2xl scale-100 font-black" href="/">Fluttermania</a>
  </nav>
  <div class="flex items-center">
    <span class="font-thin italic font-serif px-3">by</span>
    <a href="https://www.linkedin.com/in/lucascodev/" target="_blank">
      <img class="rounded-full  w-8 h-8" src="../../public/foto.jpeg" alt="photo">
    </a>
  </div>
</header>